[submodule "/home/dotfiles/.vim/bundle/neobundle.vim"]
	path = /home/dotfiles/.vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "/home/dotfiles/.vim/bundle/vimproc"]
	path = /home/dotfiles/.vim/bundle/vimproc
	url = https://github.com/Shougo/vimproc
